.env
__pycache__/
*.pyc
hand_download/
資料庫結構.md
temp.py
test.*
metadata/
logs/
raw_data/*.json
temp_data_dedup.py
moa_webpage.ini
moa_url_fetcher.spec
moa_url_fetcher.py
function_call_map.py
ui_interface.py